<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://vqgiynfrpsqddjrayczc.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxZ2l5bmZycHNxZGRqcmF5Y3pjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk5OTg5NjcsImV4cCI6MjA1NTU3NDk2N30.FqF_BmD7r8qnggEeOGYVS0mWqKpHhRIN3hG-xLgZXFM</string>
	<key>StripePublishableKey</key>
	<string>pk_live_51TwFQhGwXKVLlr2Ip5FKKwDmcwcOyG9lTFgOr2k3ooyaoLhYYwdfKQOOfzBnwcFpFgl8hAe9QHRR80Af1Odv6WEy00PnQgQarj</string>
</dict>
</plist>
